$purple: #6f42c1;
$white: #ffffff;

$primary: $purple;
$secondary:$white;



@import "../node_modules/bootstrap/scss/bootstrap";

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional Bootstrap components here
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
// etc